.logoNavbar {
  width: 85px;
}

.titleBrand p {
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  color: #1c8098;
}

.paginasNavBar {
  display: flex;
  text-shadow: 0 0 black;
  align-items: center;
  list-style: none;
}

.paginasNavBar li {
  padding: 10px;
  color: black;
}

.paginasNavBar li:hover {
  color: #1c8098;
  border-bottom: var(--cinza-shadow) 1px solid;
  cursor: pointer;
}

.Navbarhorizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  height: 60px;
}

.botoesLandingPage {
  display: flex;
}


.titleBrand p {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.paginasNavBar {
  list-style: none;
  display: flex;
  gap: 20px;
}

.paginasNavBar li {
  cursor: pointer;
}

.menuIcon {
  display: none;
  cursor: pointer;
}

.mobileMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navCont {
  display: flex;
  align-Items: center;
  margin: 0;
  justify-Content: space-between;
  width: 20%;
}

@media (max-width: 450px) {
  .menuIcon {
    display: block;
  }

  .paginasNavBar,
  .botoesLandingPage {
    display: block;
    width: 100%;
    text-align: center;
  }

  .mobileMenu {
    display: flex;
    background: rgb(250, 250, 250);
  }

  .navCont {
    width: 100%;
  }
}