.containerSessao3 {
    gap: 25px;
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: -50px;

}

.sessao3Imagem {

    width: 550px;
    height: 478px;
    background-image: url(./../../../../sessao3Imagem.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.subtituloSessao3 {
    color: #808080;
    font-size: 20px;
    font-weight: 300;

}

.sessao3Titulo {
    font-weight: bold;
    margin-top: 25px;
    color: #1c8098;
    margin-bottom: 50px;

}

.sessao3Titulo h2 {
    font-size: 65px;

}

.sessao3Texto {
    padding: 40px;
}

.botoesSessao3Principal {
    padding-top: 30px;
}

@media (max-width:450px) {
    .containerSessao3 {
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: -50px;
        width: 100%;

    }

    .sessao3Imagem {
        display: none;
    }

    .sessao3Texto {
        padding: 0px !important;
    }

    .sessao3Titulo h2 {
        font-size: 40px;

    }
}