.containerCardsSessao2 {

    margin: 3px;
    box-shadow:
        0 9px 23px rgba(58, 55, 55, 0.09),
        0 5px 5px rgba(0, 0, 0, 0.06) !important;
    border-radius: 0.4167rem;
    transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    background-color: white;
    background-clip: border-box;
    width: 70%;
    padding: 12px;
    max-width: 290px;
    min-height: 80px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
}

.sessaoImagemCard img {
    width: 45px;
    margin: 10px;
}

.sessaoTextoCard p {
    color: #808080;
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
}

.sessaoTextoCard h2 {
    font-size: 21px;
    margin-left: 10px;
    font-weight: 400;
}

.containerCardsSessao2:hover {
    cursor: pointer;
    box-shadow: 0 15px 30px rgba(58, 55, 55, 0.15), 0 10px 10px rgba(0, 0, 0, 0.10) !important;
    transform: scale(1.05);

}

@media (max-width:450px) {
    .containerCardsSessao2 {
        width: 100%;
    }
}