.sessao1PagPrin {
}

@media (max-width: 450px) {
    .sessao1PagPrin {
        padding: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .sessao3PagPrin {
        padding: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
