.containerCards {
    margin: 3px;
    box-shadow:
        0 9px 23px rgba(58, 55, 55, 0.09),
        0 5px 5px rgba(0, 0, 0, 0.06) !important;
    border-radius: 0.4167rem;
    transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    background-color: white;
    background-clip: border-box;
    width: 30%;
    padding: 10px;
    max-width: 290px;
    min-height: 80px;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerCards:hover {
    box-shadow:
        0 15px 35px rgba(58, 55, 55, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.15) !important;
    cursor: pointer;
}

.corAzul {
    background-color: #6682ff;
    /* background: linear-gradient(to right, #0bace0, #2cd3c7); */
}

.corLaranja {
    background-color: #e06f38;

    /* background: linear-gradient(to right, rgb(62 94 55), rgb(88 251 168 / 99%)); */
}

.corVerde {
    background-color: #39b18c;
    /* background: linear-gradient(135deg, #4f5b60 0%, #97a9b2 100%); */
}

.iconCard {
    background: transparent;
    color: #ffffffdd;
}

.containerCards:hover .iconCard {
    color: white;
}

.textCard {
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.containerCards:hover .textCard {
    color: white;
}

.containerCards:hover.corAzul {
    background-color: #2cd3c7;
}

.containerCards:hover.corLaranja {
    background-color: #ff8542;
}

.containerCards:hover.corVerde {
    background-color: #4ae37f;
}

@media (max-width: 450px) {
    .textCard {
        display: none;
    }

    .containerCards {
        margin: 25px;
        box-shadow:
            0 9px 23px rgba(58, 55, 55, 0.09),
            0 5px 5px rgba(0, 0, 0, 0.06) !important;
        border-radius: 0.4167rem;
        transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
        background-clip: border-box;
        width: 23%;
        padding: 10px;
        max-width: 290px;
        min-height: 60px;
        margin-right: 5px;
        margin-left: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
