.container {
  box-shadow:
    0 9px 23px rgba(58, 55, 55, 0.09),
    0 5px 5px rgba(0, 0, 0, 0.06) !important;
  border-radius: 0.4167rem;
  transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  background-color: white;
  background-clip: border-box;
  width: 100%;
  padding: 20px;
  height: 100%;
}
.containerPesquisar {
  width: 100%;
  position: relative;
}
.icon {
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  width: 20px;
}
.input {
  width: 100%;
  height: 40px !important;
  padding: 10px 40px 10px 10px;
  box-sizing: border-box;
}
.pesquisarNome {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  width: 60%;
}
.pesquisarNome input {
  width: 100%;
  height: 35px;
  margin-bottom: -35px;
  font-size: 17px;
}

.consultaForm {
  margin-top: 50px;
}

.sessao1 {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  row-gap: 45px;
  width: 100%;
  height: 100%;
}

.sessao1 > *,
.sessao2 > * {
  flex: 1 1 calc(33.3333% - 50px);

  box-sizing: border-box;
}

.sessao2 {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  row-gap: 35px;
  width: 100%;
  height: 100%;
}

form {
  width: 100%;
  height: 100%;
}

.sessao1 div {
  width: 100%;
  height: 100%;
}

.sessao1 textarea {
  width: 100%;
}

.sessao2 textarea {
  width: 100%;
}

.namePaciente {
  margin-bottom: 10px;
}

.namePaciente button {
  cursor: pointer;
  font-size: 10px;
  text-align: center;
  padding-left: 7px;
  background: transparent;
  color: #72848c;
}

.namePaciente button:hover {
  color: red;
}

.namePaciente select {
  width: 100%;
  height: 25px;
  margin-top: -10px;
}

.nameMedico {
  width: 100%;
}

.nameMedico input {
  width: 100%;
  height: 25px;
}

.containerSessao1 {
  display: flex;
  gap: 5%;
  margin-bottom: 3.5%;
}

.namePaciente label,
.sessao1 label,
.sessao2 label {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0.75rem;
  font-weight: 500;
  color: #72848c;
}

.sessao2 label {
  font-size: 16px;
}

.botaoMudar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 15px;
}

.sessao2 input {
  width: 100%;
  height: 25px;
}

.botoesSessao2 {
  width: 100%;
  margin-top: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nomePacMedico {
  width: 100%;
}

.buttonSearch {
  background: none;
  align-items: baseline;
  margin-left: 5px;
}

@media (max-width: 450px) {
  .sessao1 {
    display: block;
    width: 100%;
    height: 100%;
  }

  .sessao2 {
    display: block;
    width: 100%;
    height: 100%;
  }

  .formGrupoConsulta {
    margin-bottom: 15px;
  }

  .containerSessao1 {
    display: block;
  }

  .nomePacMedico {
    width: 100%;
    margin-bottom: 10px;
  }

  .nameMedico {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .sessao1 label,
  .sessao2 label {
    font-size: 14px;
    display: inline-block;
    margin-bottom: -0.25rem;
    font-weight: 500;
    color: #72848c;
  }

  .botoesSessao2 {
    width: 100%;
    margin-top: 40px;
    display: block;
    padding: 10px;
  }

  .botoesSessao2 div {
    margin-bottom: 6px;
  }

  .pesquisarNome {
    width: 100%;
    margin-bottom: 20px;
  }

  .pesquisarNome input {
    width: 100%;
  }

  option {
    font-size: 10px;
  }
}
