.containerSessao1 {
    gap: 25px;
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: -50px;
}

.sessao1Imagem {
    width: 550px;
    height: 478px;
    background-image: url(./../../../../sessao1Imagem.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.subtituloSessao1 {
    color: #808080;
    font-size: 20px;
    font-weight: 300;
}

.sessao1Titulo {
    font-weight: bold;
    margin-top: 25px;
    color: #1c8098;
    margin-bottom: 50px;
}

.sessao1Titulo h2 {
    font-size: 65px;
}

.sessao1Texto {
    padding: 40px;
}

.botoesSessao1Principal {
    padding-top: 30px;
}

@media (max-width: 450px) {
    .containerSessao1 {
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: -50px;
        width: 100%;
    }

    .sessao1Imagem {
        display: none;
    }

    .sessao1Texto {
        padding: 0px !important;
    }

    .sessao1Titulo h2 {
        font-size: 40px;
    }
}
