.containerReceita {
    box-shadow:
        0 9px 23px rgba(58, 55, 55, 0.09),
        0 5px 5px rgba(0, 0, 0, 0.06) !important;
    border-radius: 0.4167rem;
    transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    background-color: white;
    background-clip: border-box;
    width: 75%;
    min-height: 560px;
    height: 100%;
    margin-top: 50px;
}

.pesquisarNome {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 60%;
}

.receitaForm {
    margin-top: 50px;
}

.icon_pesquisarNome {
    position: absolute;
    top: 10px;
    right: 360px;
}

.pesquisarNome input {
    width: 100%;
    height: 35px;
    margin-bottom: -35px;
    font-size: 17px;
}

.formReceita {
    width: 100%;
    height: 100%;
    min-height: 500px;
}

.namePaciente {
    width: 100%;
}

.nameMedico {
    width: 100%;
}

.namePaciente select {
    width: 100%;
    height: 25px;
}

.namePaciente button {
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    padding-left: 7px;
    background: transparent;
    color: #72848c;
}

.namePaciente button:hover {
    color: red;
}

.topoFormulario,
.sessao2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sessao2 {
    width: 100%;
    display: flex;
    gap: 5%;
    padding: 20px;
}

.topoFormulario {
    width: 100%;
    display: flex;
    gap: 5%;
    padding: 20px;
}

.topoFormulario input {
    width: 100%;
    height: 25px;
}

.topoFormulario label {
    font-size: 15px;
}

.dataReceita input {
    width: 100%;
}

.dataReceita {
    width: 100%;
}

.textareaReceita {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    padding: 20px;
}

.textareaReceita textarea {
    width: 100%;
    min-height: 195px;
    height: 100px;
}

.baixarArq {
    font-weight: bold;
    text-decoration: underline;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 5px;
    cursor: pointer;
}

.baixarArq:hover {
    color: blue;
    text-decoration: none;
}

.errors {
    color: red;
    text-align: left;
    font-size: 13px;
}

.crm {
    width: 100% !important;
}

.crm input {
    width: 100%;
}

.containerButton {
    display: flex;
    margin-top: 20px;
}

.container {
    width: 100%;
    position: relative;
}

.input {
    width: 100%;
    height: 40px !important;
    padding: 10px 40px 10px 10px;
    box-sizing: border-box;
}

.icon {
    position: absolute;
    top: 70%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    width: 10px;
}

@media (max-width: 415px) {
    .containerButton {
        display: flex;
        margin-top: 0;
        padding: 20px;
    }

    .containerReceita {
        height: 100%;
        margin: 0px;
        border: 1px solid #d2d2d2;
        box-shadow: 0 1px 0 0 #d2d2d2;
        padding: 0px;
        box-sizing: content-box;
        border-radius: 5px;
        color: #495057;
        font-size: 14px;
        transition: all 0.2s;
        width: 106%;
    }

    .dataReceita input {
        width: 100% !important;
    }

    .dataReceita {
        width: 100% !important;
    }

    .topoFormulario {
        display: block;
    }

    .namePaciente {
        margin-bottom: 20px;
    }

    .sessao2 {
        display: block;
    }

    .crm {
        margin-bottom: 20px;
    }

    .receitaForm {
        margin-top: 30px;
    }

    .pesquisarNome {
        width: 100%;
        margin-bottom: 20px;
    }

    .topoFormulario,
    .sessao2 {
        padding-top: 15px;
    }
}