.containerAll {
  width: 100%;
  display: flex;
  align-items: start;
}

.containerSide {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: 0 9px 23px rgba(58, 55, 55, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
  border-radius: 0.4167rem;
  transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  background-color: white;
  background-clip: border-box;

  transition: transform 0.3s ease;
  transform: translateX(0);
  transition: all 0.2s;
  width: 220px;
}

.containerSideMobile {
  width: 60px;
  transition: all 0.2s;
}

.itemLi {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.1s;
}

.itemLi a {
  width: 100%;
  text-decoration: none;
}

.itemLi:hover {
  transition: all 0.1s;
  color: white;
  background: linear-gradient(295deg,
      rgba(47, 203, 200, 1) 0%,
      rgba(74, 103, 221, 1) 100%);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.itemLi:hover h5 {
  color: white;
}

.itemLi:hover .icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  color: rgb(43, 43, 44);
  background: white;
  border-radius: 10px;
  padding: 3px;
  transition: all 0.2s;
}

.marca {
  width: 85px;
  margin-left: -14px;
}

.marca2 {
  margin-right: 130px;
  margin-top: 7px;
  width: 110px;
  display: flex;
  align-items: baseline;
}

.icon {
  transition: all 0.1s;
  padding: 0;
  margin: 0;
  color: gray;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.icon:hover {
  color: black;
}

h5 {
  padding: 0;
  margin-left: 5px;
  color: gray;
  font-weight: 500;
  font-size: 16px;
}

.LogoTitle {
  margin-left: 87px;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  color: #1c8098;
}

.containerLogo {
  width: 0;
  margin: 0 !important;
  margin-left: -26px !important;
}

.containerLogoMobile {
  width: 0;
  margin: 0 !important;
}

.linkTabela {
  display: flex;
  gap: 35px;
  align-items: center;
}