.ContainerLogin {

    box-shadow: 0 9px 23px rgba(58, 55, 55, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    border-radius: 0.4167rem;
    transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    background-color: white;
    background-clip: border-box;
    width: 80%;
    min-height: 600px;
    height: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    grid-auto-rows: 60px;

}

.imagemLogin {
    width: 100%;
    background-size:cover ;
    background-repeat: no-repeat;
    background-image: url(./../../../public/registrar.jpeg);
    height: 100%;
    min-height: 600px;
    border-top-left-radius: 0.4167rem;
    border-bottom-left-radius: 0.4167rem;
}

.formularioLogin {
    width: 100%;
    height: 100%;
    min-height: 600px;

}

.formularioLogin form {
    width: 90%;
    height: auto;
}

.textoFormulario {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 7px;
    margin-top: 14px;
}
.textoFormulario h1{
    font-weight: 300;
}

.formGrupoLogin input {
    display: grid;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 26px;
    font-size: 15px;
    width: 85%;
}

.formGrupoLogin_div label {
    margin-left: 25px;
    font-size: 15px;
    font-weight: 600;
}



.btnLogin {
    color: white;
    display: flex;
    background: linear-gradient(to right, #0bace0, #2cd3c7);
    width: 75%;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.fraseRedirecionar p {
    color: black;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.fraseRedirecionar span {
    color: #1890ff;
    font-weight: 500;
    text-decoration: underline;
}

.fraseRedirecionar span:hover {
    color: #2d7dd2;
    cursor: pointer;
}
.error{
    color: red;
    text-align: left;
    margin-top: -13px;
    margin-bottom: 4px;
    font-size: 13px;
    margin-left: 24px;
}

@media (max-width:430px) {

    .ContainerLogin {
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .imagemLogin {
        display: none;
    }

    .textoFormulario {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: normal;
        font-size: 19px;
        margin-bottom: 40px;
        margin-top: 70px;
    }

    .textoFormulario h1 {
        font-size: 30px;
    }

    .fraseRedirecionar {
        margin-top: 30px;
    }
}