@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.removepadding {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

p,
span,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}


html {
  background-color: #f4f4f4;
}

.rdt_TableBody {
  margin: 0px;
  display: flex;
  flex-direction: column;
  width: 100% important;
}

/* Estilos personalizados para cada classe da tabela */

.rdt_Table {
  background-color: #f0f8ff;
  /* AliceBlue */
}

.rdt_TableRow {
  background-color: #faebd7;
  /* AntiqueWhite */

}

.rdt_TableCol {
  background-color: #e9ecef;
  border-bottom: 4px solid #dee2e6;
}

.rdt_TableCol_Sortable {
  font-weight: 600;
  color: #495057;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-align: start;

}

.rdt_TableCell {
  color: #4b565a;
  font-family: "Roboto", sans-serif;
  font-family: 18px;
  font-weight: 500;
  line-height: 20px;
}

.rdt_TableHeader {
  background-color: #8b0000;
  /* DarkRed */
}

.rdt_TableFooter {
  background-color: #ff8c00;
  /* DarkOrange */
}

.rdt_TableHead {
  background-color: #ffd700;
  /* Gold */
}

.rdt_TableHeadRow {
  background-color: #adff2f;
  /* GreenYellow */
}

.rdt_TableBody {
  background-color: #f0e68c;
  /* Khaki */
}

.rdt_ExpanderRow {
  background-color: #e6e6fa;
  /* Lavender */
}


input,
select,
option,
textarea {
  border: 1px solid #d2d2d2;
  box-shadow: 0 1px 0 0 #d2d2d2;
  padding: 3px;
  padding-left: 15px;
  box-sizing: content-box;
  border-radius: 5px;
  color: #495057;
  font-size: 14px;
  transition: all 0.2s;

}

input:focus,
select:focus,
option:focus,
textarea:focus {
  border: 1px solid #4285f4;
  box-shadow: 0 1px 0 0 #4285f4;
  background-color: #e8f0fe;
  padding-left: 15px;
}

label {
  font-size: 14px;
  display: inline-block;
  font-weight: 500;
  color: #72848c;
}