@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", Helvetica, sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-emphasis: none;
}

.rdt_TableBody {
  display: flex;
  flex-direction: column;
  width: 100% important;
}