.pesquisarGrupo {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
}
.pesquisarGeral {
  margin-bottom: 30px;
  text-align: end;
  align-self: end;
}

.pesquisarGrupo input,
.pesquisarGrupo select,
.pesquisarGrupo option {
 
  height: 2.4rem;
  
  width: 80%;
}


.divCompletaInput {
    width: 100%;
    display: flex;
}

.buscarIconPes{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:-145px;
  color:gray;
}